<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Nova Despesa</h1>
    <div class="buttons">
      <button class="button button-icon ion-ios-close" ng-click="modalExpenditure.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
  	<form id="expenditure">
      <div class="list">

        <label class="item item-input item-stacked-label">
          <input type="text" ng-model="expenditure.name" required  data-parsley-error-message="Digite o Nome" placeholder="Nome">
        </label>

        <label class="item item-input item-stacked-label">
          <input type="number" ng-model="expenditure.value" required  data-parsley-error-message="Digite o valor" placeholder="Valor">
        </label>

        <label class="item item-input" style="padding-left: 5px;">
	       <tags-input ng-model="expenditure.tags" placeholder="+ Tag" required  data-parsley-error-message="temp lsslslsllsl"></tags-input>
        </label>


        <label class="item">
          <button class="button button-block button-positive" ng-click="newExpenditure(expenditure)">Salvar</button>
        </label>
      </div>
     </form>
  </ion-content>
</ion-modal-view>
