<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Novo Orçamento</h1>
    <div class="buttons">
      <button class="button button-icon ion-ios-close" ng-click="modal.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
  	<form   id="form-budget" >
	     <div class="list">
	        <label class="item item-input item-floating-label">
          		<span class="input-label">Nome</span>
          		<input type="text" ng-model="budget.name" required placeholder="Nome" data-parsley-required-message="Nome é Obrigatório">
        	</label>
	        <label class="item">
	          <button class="button button-block button-positive" ng-click="newBudget(budget)">Salvar</button>
	        </label>
	      </div>
      </form>
  </ion-content>
</ion-modal-view>
