<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Nova Despesa</h1>
    <div class="buttons">
      <button class="button button-icon ion-ios-close" ng-click="modalExpenditure.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
  	<form id="expenditure">
      <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">Nome</span>
          <input type="text" ng-model="expenditure.name" required placeholder="Nome">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Valor</span>
          <input type="number" ng-model="expenditure.value"  required placeholder="Valor">
        </label>


        <label class="item item-input item-floating-label">
          <span class="input-label">Categoria</span>
          <input type="text" ng-model="expenditure.category" required placeholder="Categoria">
        </label>


        <label class="item">
          <button class="button button-block button-positive" ng-click="saveExpenditure(expenditure)">Salvar</button>
        </label>
      </div>
     </form>
  </ion-content>
</ion-modal-view>
