<ion-view view-title="{{budget.name}}" >
  <ion-content>
  	<div class="item item-divider item-button-right">
    	Receitas
        <button class="button button-icon ion-ios-plus" ng-click="modalRevenue.show()"></button>
    </button>
  	</div>
    <ion-list>
	  <ion-item ng-repeat="revenue in budget.revenues" >
	   <i class="icon ion-checkmark-round balanced" ng-if="revenue.received"></i>
	   <i class="icon ion-alert energized" ng-if="!revenue.received"></i>
    	 {{revenue.name}}
    	 <span class="item-note positive">
    	 	+ {{revenue.value}}
    	 </span>
  	  </ion-item>
	</ion-list>
	<div class="item item-divider item-button-right">
    	Despesas
        <button class="button button-icon ion-ios-plus" ng-click="modalExpenditure.show()"></button>
    </button>
  	</div>
	<ion-list>
	  <ion-item ng-repeat="expenditure in budget.expenditures">
    	 {{expenditure.name}}
    	<span class="item-note" >{{expenditure.value}}</span>
  	  </ion-item>
	</ion-list>
	<div class="item item-divider ">
    	Saldo
    	 <span class="item-note assertive"  ng-if="budget.balance < 0.0" style="font-weight: bold;">
    		{{budget.balance}}
    	</span>
    	<span class="item-note positive"  ng-if="budget.balance > 0.0" style="font-weight: bold;">
    		{{budget.balance}}
    	</span>
  	</div>
  </ion-content>


   <script id="new-revenue.html" type="text/ng-template">
  	<div ng-include src="'templates/modal/new-revenue.html'"></div>
  </script>


   <script id="new-expenditure.html" type="text/ng-template">
  	<div ng-include src="'templates/modal/new-expenditure.html'"></div>
  </script>


</ion-view>
